body {
    --colour1: #FFFEFE;
    --colour2: #D6493B;
    --colour3: #2E2C3D;
    --colour4: #888070;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: var(--colour1);
    background-color: var(--colour3);
}