body {
    --colour1: #FFFEFE;
    --colour2: #D6493B;
    --colour3: #2E2C3D;
    --colour4: #FEBB70;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: var(--colour1);
    background-color: var(--colour3);
    display: flex;
}

#Container {
    width: 96vw;
    min-height: calc(93vh - 3em);
    margin: auto;
    margin-top: 3.2em;
    padding: 1em;
    border: 2px var(--colour2);
    border-style: none solid;
    border-radius: 1em;
    background-color: #0004;
}

.TeamLogo {
    height: 125px;
    width: 400px;
    object-fit: cover;
    margin-top: -1em;
    margin-bottom: 0em;
    margin-left: -3.75em;
}

.PageTitle {
    font-size: 4em;
}

#Container .BottomTable{
    --colour1: #FFFEFE;
    --colour2: #D6493B;
    --colour3: #2E2C3D;
    --colour4: #888070;
    background-color: var(--colour1);
    border: 5px;
    border-color: black;
    border-style: solid;
    color:var(--colour3);
}

#Container .Cell{
    font-family: 'Trebuchet MS',sans-serif;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: outset;
    border-color: #2E2C3D;
}

#printMenu{
    float:left;
}
#printPage{
    margin: auto;
    width: 60%;
    color: black;
    background-color: white;
    padding-bottom:30%;
}

#printPage .BottomTable{
    margin: auto;
}

a {
    color: var(--colour4);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
